  @font-face {
    font-family: "Lato-Light";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Lato Light"), local("Lato-Light"), 
    url("../fonts/Lato-Light-300.woff2") format("woff2"), 
    url("../fonts/Lato-Light-300.woff") format("woff");
  }

  @font-face {
    font-family: "Lato-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Lato Regular"), local("Lato-Regular"), 
    url("../fonts/Lato-Regular-400.woff2") format("woff2"), 
    url("../fonts/Lato-Regular-400.woff") format("woff");
  }

  @font-face {
    font-family: "Lato-Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Lato Bold"), local("Lato-Bold"), 
    url("../fonts/Lato-Bold-700.woff2") format("woff2"), 
    url("../fonts/Lato-Bold-700.woff2.woff") format("woff");
  }

  @font-face {
    font-family: "Lato-Black";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Lato Black"), local("Lato-Black"), 
    url("../fonts/Lato-Black-900.woff2") format("woff2"), 
    url("../fonts/Lato-Black-900.woff2.woff") format("woff");
  }




  