@import "animations.css";
@import "fonts.css";
@import "normalize.css";
@import "variables.css";
@import "visually-hidden.css";

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: "lato";
    font-weight: 400;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}


/* Header */

.page-header {
    background-color: var(--brand-black);
    padding: 20px 0px;
}

.page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-header__logo {
    display: block;
    margin-right: 20px;
}

.main-nav__wrapper {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-nav__search {
    display: flex;
    justify-content: flex-start;

    cursor: pointer;
}

.button-search__input {
    display: none;

    border: none;

    background-color: var(--brand-gray-light);

    cursor: pointer;
}

.button-search__input:focus,
.button-search__input:active {
    outline: none;
}

.button-search__input--show {
    display: block;
}

.nav_wrapper--right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-nav_button {
    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    margin: 0 10px;

    cursor: pointer;
    border: none;

    background-color: transparent;
}

.main-nav_button:focus {
    outline: none;
}

.nav-button {
    fill: var(--brand-gray-light);
}

.nav-button:hover {
    fill: var(--brand-pink);
}

.nav-button:active {
    fill: var(--brand-gray);
}

.order-total__icon {
    width: 18px;
    height: 18px;

    line-height: 18px;

    position: absolute;
    border-radius: 50%;
    top: 1px;
    right: 0;

    background-color: var(--brand-pink);
}

.order-total__count {
    font-size: 12px;
    vertical-align: top;

    color: var(--brand-white);
}


/* Main */
/* page-brand */

.page-brand {
    min-height: 765px;
    background-color: #F1E4E6;

    position: relative;
}

.page-brand_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-brand__image {
    display: block;
}

.page-brand__text {
    font-weight: 900;
    font-size: 48px;
    line-height: 43px;

    position: relative;

    padding-left: 25px;
    margin-right: 10%;

    text-transform: uppercase;
}

.page-brand__text::before {
    content: "";

    width: 12px;
    height: 100%;

    position: absolute;
    top: -1px;
    left: 0;

    background-color: var(--brand-pink);
}

.page-brand__text--small {
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.text-pink {
    color: var(--brand-pink);
}

/* Menu poput */

.menu__drop-down {
    display: none;

    width: 100%;
    height: 765px;

    position: absolute;
    top: 85px;
    right: 0;

    background-color: rgba(33, 22, 22, 0.7);
    z-index: 2;
}

.drop-down_list {
    width: 235px;
    height: 765px;

    position: absolute;
    top: 0;
    right: 0;

    background-color: white;
}

.menu-modal--show {
    display: block;
}

.drop-down__close-button {
    content: "";

    position: absolute;
    top: 15px;
    right: 15px;

    width: 15px;
    height: 15px;

    background-color: transparent;
    border: 0px;

    cursor: pointer;
}

.drop-down__close-button::before,
.drop-down__close-button::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 0px;

    width: 15px;
    height: 2px;

    background-color: var(--brand-black);
}

.drop-down__close-button::before {
    transform: rotate(45deg);
}

.drop-down__close-button::after {
    transform: rotate(-45deg);
}

.drop-down__close-button:hover:before,
.drop-down__close-button:hover:after {
    background-color: var(--brand-gray);
}

.drop-down__close-button:focus {
    outline: none;
}

.menu__list {
    padding: 40px;
}

.menu__header {
    font-weight: 700;
    text-transform: uppercase;
}

.menu__categories {
    font-size: 14px;

    padding-left: 0;
    padding-top: 15px;

    list-style-type: none;
}

.category__header {
    text-transform: uppercase;
}

.category__header:hover {
    color: var(--brand-pink-dark);
}

.category__item {
    padding-top: 10px;
    padding-left: 15px;

    color: var(--brand-gray);
}

.category__item:hover {
    color: var(--brand-black);
}


/* page-category */
/* решение с гридами и background-image */

.category__wrapper {
    margin-top: 65px;

    display: grid;
    grid-gap: 30px;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
}

.banner-link {
    display: flex;
    width: 100%;
    height: 18vw; /* Какое значение тут надо задать? */
}

.category__banner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: relative;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -2;
}

.banner-link {
    position: relative;
}

.category__banner::after {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(33, 22, 22, 0.7);
    z-index: -1;
}

.banner--man {
    background-image: url("../graphic/img/product_for-men.jpg");
    
}

.banner--woman {
    background-image: url("../graphic/img/product_for-women.jpg");
}

.banner--kids {
    background-image: url("../graphic/img/product_for-kids.jpg");
}

.banner--accesories {
    height: 16vw;
    background-image: url("../graphic/img/product_accesories.jpg");
}

.banner-badge__text {
    text-align: center;
    color: white;
}

.banner-logn {
    grid-column: 1/-1;

}

/* 
.category__wrapper {
    margin-top: 65px;

    display: grid;
    grid-gap: 30px;
    grid-template: repeat(2, auto) / repeat(3, auto);
}

.category__banner {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.category__banner img {
    display: block;

    width: 100%;
    height: auto;
}

.banner--accesories {
    grid-column: 1/-1;
}

.banner-badge__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(33, 22, 22, 0.7);

    z-index: 2;
}

.banner-badge__wrapper:hover {
    background: radial-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.8));
} */

.banner-link:hover .category__banner::after {
    background: radial-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.8));
}

.banner-badge__info {
    font-size: 16px;
    line-height: 19px;

    margin: 0;

    text-transform: uppercase;

    color: var(--brand-white);
}

.banner-badge__category {
    font-size: 24px;
    font-weight: 700;

    margin: 0;

    text-transform: uppercase;
}

@media (max-width: 768px) {
    .category__wrapper {
        grid-gap: 15px;
    }

    .banner-badge__info {
        font-size: 10px;
    }

    .banner-badge__category {
        font-size: 16px;
    }

}

@media (max-width: 375px) {
    .category__wrapper {
        grid-template: repeat(2, auto) / repeat(1, auto);
    }

    .banner--accesories img {
        height: 110px;
        object-fit: cover;
    }

    .banner-badge__info {
        font-size: 16px;
    }

    .banner-badge__category {
        font-size: 24px;
    }
} 


/* page-fetured */

.page-fetured {
    margin-top: 90px;
}

.fetured-header {
    text-align: center;
}

.fetured-header__title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.fetured-header__description {
    margin: 0;
    font-size: 14px;
    line-height: 17px;

    color: var(--brand-gray);
}

.fetured-item__wrapper {
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fetured-item {
    display: block;

    position: relative;

    width: 360px;
    min-height: 582px;

    margin-bottom: 30px;

    background-color: var(--brand-gray-light);
}

.fetured-item:hover::after {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 420px;

    background-color: rgba(33, 22, 22, 0.7);
    z-index: 2;
}

.fetured-item__image {
    display: block;
}

.feture-item_info {
    padding: 15px;
}

.fetured-item__title {
    margin: 10px 0;
    text-transform: uppercase;
}

.fetured-item__description {
    font-weight: 300;
    margin: 15px 0;
    color: var(--brand-gray);
}

.fetured-item__price {
    font-weight: 400;
}

/* Button Add to Card */

.button-position {
    position: absolute;
    top: 185px;
    left: 0;
    right: 0;
}

.feture-item__button {
    display: none;
    font-size: 14px;

    margin: 0 auto;

    min-width: 140px;
    padding: 15px 25px;

    color: white;
    border: 1px solid white;
    background-color: transparent;

    cursor: pointer;

    z-index: 3;
}

.fetured-item:hover .feture-item__button {
    display: block;
}

.button-basket__icon {
    padding-left: 25px;
}

.button-basket__icon::before {
    content: "";

    background-image: url("../graphic/svg/basket_icon_button.svg");
    width: 28px;
    height: 26px;

    background-repeat: no-repeat;

    position: absolute;
    top: 10px;
    left: 16px;
}

.feture-item__button:hover {
    color: var(--brand-white);
    border-color: var(--brand-pink);

    background-color: var(--brand-pink);
}

.feture-item__button:active {
    border-color: var(--brand-gray);
    background-color: var(--brand-gray);
}

/* Button - Browse all */

.button-pink {
    display: block;
    min-width: 212px;

    margin: 50px auto 0;
    padding: 15px 20px;

    font-size: 14px;
    text-align: center;
    word-break: break-all;

    background-color: transparent;
    color: var(--brand-pink);
    border: 1px solid var(--brand-pink);

    cursor: pointer;
}

.button-pink:hover {
    color: var(--brand-white);
    background-color: var(--brand-pink);
}

.button-pink:active {
    color: var(--brand-white);
    background-color: var(--brand-gray);
    border: 1px solid var(--brand-gray);
}


/* advantages */

.advantages {
    min-height: 340px;

    margin-top: 95px;

    background-color: var(--brand-black);
}

.adventages__wrapper {
    min-height: 340px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adventage__block {
    width: 320px;
    min-height: 135px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.adventage__block-icon {
    display: block;

    margin: 0 auto;

    fill: var(--brand-pink);
}

.adventage_title {
    font-size: 20px;
    font-weight: 400;

    text-align: center;

    color: var(--brand-white);
}

.adventage__description {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    word-break: keep-all;

    margin: 0;

    color: var(--brand-white);
}


/* subscribe */

.review-subscribe {
    width: 100%;
    min-height: 450px;

    position: relative;
}

.review-subscribe::after {
    content: "";

    background-image: url("../graphic/img/bottom_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.review-subscribe__wrapper {
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews {
    width: 355px;
    height: 195px;

    text-align: center;
}

.review__avatar {
    display: block;
    margin: 0 auto 30px;

    width: 96px;
    height: 96px;

    border-radius: 50%;
}

.review__text {
    font-size: 20px;
    line-height: 24px;
}

.review__text--italic {
    font-style: italic;
}

.subscribe {
    width: 560px;
    min-height: 120px;
}

.subscribe__text {
    width: 100%;
    display: block;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.subscribe__text--bold {
    display: block;
    font-weight: 700;
    font-size: 24px;
}

.subscribe__email {
    display: flex;
    justify-content: center;

    margin-top: 35px;
}

.subscribe__input {
    width: 255px;
    height: 50px;

    font-family: "lato";
    font-size: 14px;

    text-indent: 20px;

    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    background-color: var(--brand-gray-light);
}

.subscribe__input:hover {
    background-color: #dadada;
}

.subscribe__button {
    width: 100px;

    font-family: "lato";
    font-size: 14px;

    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    color: white;
    background-color: var(--brand-pink);

    cursor: pointer;
}

.subscribe__button:hover {
    outline: none;
    background-color: var(--brand-pink-dark);
}

.subscribe__button:active {
    outline: none;
    background-color: var(--brand-gray);
}


/* Page footer */

.page-footer {
    min-height: 80px;

    background-color: var(--brand-black);

    display: flex;
    align-items: center;
}

.page-footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    color: var(--brand-white);
}

.footer__social {
    display: flex;
    justify-content: space-between;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    margin: 0 5px;

    background-color: white;
}

.social-button:hover {
    fill: white;
    background-color: var(--brand-pink);
}

.social-button:active {
    background-color: var(--brand-gray);
}



/* Catalog.html */

.page-breadcrumbs {
    min-height: 150px;

    display: flex;
    align-items: center;

    background-color: var(--brand-gray-light);
}

.page-breadcrumbs__wrapper {
    display: flex;
    justify-content: space-between;

}

.page-breadcrumbs__title {
    font-size: 24px;
    text-transform: uppercase;

    color: var(--brand-pink);
}

.page-breadcrumbs__list {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style-type: none;
    text-transform: uppercase;
}

.breadcrumbs-list__item {
    position: relative;
}

.breadcrumbs-list__link {
    font-weight: 300;
    margin-right: 20px;

    color: var(--brand-gray);
}

.breadcrumbs-list__link:hover {
    color: var(--brand-black);
}

.breadcrumbs-list__link::after {
    content: "/\00a0";

    position: absolute;
    top: 0px;
    right: 5px;
}

.breadcrumbs-list__link:hover::after {
    color: var(--brand-gray);
}

.breadcrumbs-list__item:last-child>.breadcrumbs-list__link::after {
    content: "";
}

.breadcrumbs-list__item:last-child>.breadcrumbs-list__link {
    font-weight: 700;
    color: var(--brand-pink);
    pointer-events: none;
}


/* Pagination */

.fetured-pagination {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    width: 290px;
    height: 45px;

    margin: 50px auto;

    border-radius: 5px;
    border: 1px solid var(--brand-gray-light);
}

.pagination-arrow__left {
    content: "";

    width: 10px;
    height: 15px;

    background-image: url("../graphic/svg/pagination__arrow-left.svg");
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
}

.pagination-arrow__left:hover {
    background-image: url("../graphic/svg/pagination__arrow-left--hover.svg");
}


.pagination-arrow__right {
    content: "";

    width: 10px;
    height: 15px;

    background-image: url("../graphic/svg/pagination__arrow-right.svg");
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    right: 0;
}

.pagination-arrow__right:hover {
    background-image: url("../graphic/svg/pagination__arrow-right--hover.svg");
}

.pagination__item {
    position: relative;

    margin: auto 10px;

    color: var(--brand-gray);
}

.pagination__item:hover {
    color: var(--brand-pink);
}

.pagination__item:active {
    color: var(--brand-black);
}

.pagination__active-links {
    color: var(--brand-pink);
}

.fetured-pagination>.pagination__item:nth-child(7)::after {
    content: "...";

    position: absolute;
    top: 0;
    left: 14px;

    pointer-events: none;
}

.fetured-pagination>.pagination__item:hover:nth-child(7)::after {
    color: var(--brand-gray);
}


/* Page-filter */

.page-filter {
    position: relative;

    margin-top: 50px;
}

.filter__drop-down {
    width: 120px;
    z-index: 2;
}

.filter__drop-down:hover {
    width: 360px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.drop-down__button {
    margin: 15px;

    color: var(--brand-black);
    background-color: transparent;

    border: none;
    outline: none;
    cursor: pointer;
}

.drop-down__button-name {
    font-size: 14px;
    font-weight: 700;

    margin-right: 10px;

    text-transform: uppercase;
}

.filter__drop-down:hover .drop-down__button-name {
    color: var(--brand-pink);
}

.filter__drop-down:hover .drop-down__button-icon {
    fill: var(--brand-pink);
}

.filter__drop-down {
    position: relative;
}

.drop-down__content {
    display: none;
    position: absolute;

    font-size: 14px;
    font-weight: 400;

    box-sizing: border-box;
    padding: 0px 20px;

    width: 100%;

    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.filter__drop-down:hover .drop-down__content {
    display: block;
}

.drop-down__link {
    display: block;

    padding: 10px 15px;

    color: var(--brand-gray);
}

.drop-down__link:hover {
    color: var(--brand-black);
}

.drop-down__link--header {
    position: relative;

    display: block;

    padding: 10px 15px;
    margin: 15px 0px;

    text-transform: uppercase;

    border-bottom: 1px solid var(--brand-gray-light);

    color: var(--brand-pink);
}

.drop-down__link--header::before {
    content: "";

    width: 5px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 5;
    background-color: var(--brand-pink);
}

.drop-down__link--header:hover {
    color: var(--brand-pink-dark);
}

.drop-down__link--header:hover:before {
    background-color: var(--brand-pink-dark);
}


/* filter sort */

.sort__drop-down {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sort__list {
    font-family: "lato";
    font-size: 14px;

    border: none;
    margin: 0 15px;

    text-transform: uppercase;

    color: var(--brand-gray);
}

.sort__list option {
    margin-left: 5px;
}

.sort--trends {
    width: 135px;
}

.sort--size {
    width: 55px;
}

.sort--price {
    width: 65px;
}


/* Product.html */

.page-slider {
    min-height: 775px;
    background-color: #F7F7F7;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__button {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    outline: none;
    border: none;
    background-color: var(--brand-gray-light);
}

.slider__button-arrow {
    display: block;
    fill: var(--brand-black);
    margin: 0;
}

.slider__button:hover .slider__button-arrow {
    fill: var(--brand-pink);
}

.slider__button:active {
    background-color: var(--brand-gray);
}

.page-slider__wrapper {
    display: flex;
    justify-content: center;
}

.page-slider__image {
    display: block;
}

/* .page-product {
    position: relative;
} */

.product-description {
    position: relative;

    height: 600px;

    margin-top: -65px;
    margin-bottom: 130px;

    background-color: var(--brand-white);
    border: 1px solid var(--brand-gray-light);

    text-align: center;
}

.product__category {
    display: block;
    font-size: 14px;
    font-weight: 300;

    margin-top: 65px;

    text-transform: uppercase;

    color: var(--brand-pink);
}

.product__category::after {
    content: "";
    position: absolute;
    top: 95px;
    left: 50%;
    
    margin-left: -33px;
    
    width: 66px;
    height: 3px;

    background-color: var(--brand-pink);
}

.product__name {
    display: block;
    font-size: 18px;
    font-weight: 300;
    
    margin-top: 30px;

    text-transform: uppercase;

    color: var(--brand-gray);
}

.product__description {
    max-width: 560px;

    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    margin: 50px auto 0 auto;

    color: var(--brand-gray);
}

.product__price {
    display: block;
    font-size: 24px;

    margin-top: 35px;

    color: var(--brand-pink);
}

.product-line {
    width: 55%;

    margin-top: 65px;

    border: 1px solid var(--brand-gray-light);
}

.position-relative {
    position: relative;
}

/* Add to button - pink button */

.button__add-to-cart {
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px auto 0;

    min-width: 210px;
    padding: 12px 55px;

    color: white;
    border: 1px solid var(--brand-pink);
    background-color: transparent;

    cursor: pointer;
}

.button--color {
    fill: var(--brand-pink);
}

.add-to-cart__text {
    display: block;
    margin-left: 5px;
    color: var(--brand-pink);
}

.button__add-to-cart:hover {
    background-color: var(--brand-pink);
}

.button__add-to-cart:active {
    background-color: var(--brand-pink-dark);
    border-color: var(--brand-pink-dark);
}

.button__add-to-cart:hover .button--color {
    fill: var(--brand-white);
}

.button__add-to-cart:hover .add-to-cart__text {
    color: var(--brand-white);
}


/* cart-page */
.shopping-cart__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 95px;
}

.cart-items__wrapper {
    width: 650px;
}

.cart-items {
    font-size: 22px;
    
    display: flex;

    position: relative;

    width: 100%;
    height: 305px;

    margin-bottom: 45px;

    color: var(--brand-gray);

    box-shadow: 15px 15px 20px 0px rgba(0, 0, 0, 0.2);
}

.cart-item__image {
    display: block;
}

.cart-item__info {
    flex-grow: 2;
    padding: 20px 30px;
}

.cart-item__info p{
    margin: 0 0 15px 0;
}

.cart-item__info--header {
    font-size: 24px;
    text-transform: uppercase;

    margin-bottom: 40px;
    
    color: var(--brand-black);
}

.cart-item__info--quantity {
    padding: 2px 15px;
    margin-left: 20px;
    border: 1px solid var(--brand-gray);
}

.cart-item__buttons {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.button__cart {
    font-size: 16px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 75px;
    padding: 15px 55px;

    color: var(--brand-black);
    border: 1px solid var(--brand-gray);
    background-color: transparent;

    cursor: pointer;
}

.button__cart:hover {
    color: var(--brand-white);
    border-color: var(--brand-pink);
    background-color: var(--brand-pink);
}

.button__cart:active {
    color: var(--brand-white);
    border-color: var(--brand-gray-light);
    background-color: var(--brand-gray);
}

.shipping-block {
    width: 360px;
}

.shipping__adress {
    font-size: 16px;

    font-weight: 300;
    text-transform: uppercase;
}

.adress--input {
    box-sizing: border-box;

    font-size: 13px;
    font-weight: 300;

    width: 100%;
    height: 45px;

    margin-bottom: 20px;
    padding-left: 10px;

    color: var(--brand-black);

    border-radius: 0;
    border: 1px solid var(--brand-gray);
}

.adress--input:active {
    color: var(--brand-gray);
}

.button--position {
    font-size: 11px;

    margin: 0;
    padding: 15px 20px;
}

.order-chekout {
    box-sizing: border-box;

    width: 100%;
    height: 215px;

    padding: 40px;
    margin-top: 65px;

    text-align: right;

    background-color: var(--brand-gray-light);
}

.order-chekout__sub,
.order-chekout__grand {
    margin: 0 0 10px 0;

    text-transform: uppercase;
}

.order-chekout__sub {
    font-size: 11px;
}

.margin-left {
    margin-left: 15px;
}

.order-chekout__line {
    margin: 20px 0;
}

.chekout__button {
    width: 100%;

    font-size: 16px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
    padding: 15px 30px;

    color: var(--brand-white);
    border: 1px solid var(--brand-pink);
    background-color: var(--brand-pink);

    cursor: pointer;
}

.chekout__button:hover {
    border-color: var(--brand-pink-dark);
    background-color: var(--brand-pink-dark);
}

.chekout__button:focus {
    border-color: var(--brand-gray);
    background-color: var(--brand-gray);
    outline: none;
}